{% extends "master.html" %}

{% block title %}
    List of all members
{% endblock %}

{% load static %}


{% block content %}
    <h1>All Members</h1>
    {% if members %}
        <div class="row">
            {% for member in members %}
                <div class="col-md-3 mb-4">
                    <div class="card" style="width: 100%;">
                        {% if member.profile_image %}
                            <img src="{{ member.profile_image.url }}" class="card-img-top" alt="{{ member.firstname }}">
                        {% else %}
                            <img src="{% static 'default_profile_pic.png' %}" class="card-img-top" alt="Default image">
                        {% endif %}
                        <div class="card-body text-dark">
                            <h6 class="card-title">{{ member.firstname }} {{ member.lastname }}</h6>
                            <a href="{% url 'details' member.slug %}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3 class="text-center">No cars found.</h3>
    {% endif %}
{% endblock %}