{% extends "master.html" %}

{% block title %}
    {{ member.firstname }} {{ member.lastname }}
{% endblock %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-2">
            {% if member.profile_image %}
                <img src="{{ member.profile_image.url }}" class="card-img-top" alt="{{ member.firstname }}">
            {% else %}
                <img src="{% static 'default_profile_pic.png' %}" class="card-img-top" alt="Default image">
            {% endif %}
        </div>
        <div class="col-10">
            <h1>{{ member.firstname }} {{ member.lastname }}</h1>
            <p>Email: <a href="mailto:{{ member.email }}">{{ member.email }}</a></p>
            <p>Joined Date: {{ member.joined_date }}</p>
            <p>Phone: {{ member.phone_number }}</p>
            <p>Bio: {% if member.bio %}{{ member.bio }}{% else %}Member bio is unavailable{% endif %}</p>
            <a href="{% url 'update_member' member.slug %}" class="btn btn-primary">Update Member</a>
            <a href="{% url 'delete_member' member.slug %}" class="btn btn-danger">Delete Member</a>
            <a href="{% url 'all_members' %}" class="btn btn-primary">Back to Members</a>
        </div>
    </div>
{% endblock %}